@media (max-width: 960px) {
    .wrapper {
        width: 80vw;
    }

    .to-do-section__button_first {
        width: 50vw;
        display: block;
        margin: 0 auto;
    }

    .to-do-section__input {
        width: 50vw;
        margin: 20px 0;
    }

    .to-do-section__button_second {
        width: 50vw;
        display: block;
        margin: 0 auto;
    }

    #to-do-input {
        width: 10px;
    }

    .to-do-section__list {
        margin: 40px 25px 10px;
    }

    .todos-list__item {
        font-size: 20px;
    }
}
